dash==0.28.2
plotly==3.3.0
dash_html_components==0.13.2
matplotlib==3.0.0
numpy==1.15.4
ccxt==1.17.434
bitshares==0.3.2
dash_core_components==0.33.0
pandas==0.23.4
cryptography==3.2
scikit_learn==0.21.3
tabulate==0.8.5
